<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Toda Cidadã</h1>
  <p class="lead">Descricão do projeto</p>
  <hr class="my-4" />
  <p>Descricão Descricão Descricão Descricão Descricão.</p>
</div>
<hr />

<div class="container">
  <h3>daihsdiuashdoiuahda</h3>
  <p
  >daishdisahdiasuhdiaondouindaishdisahdiasuhdiaondouindaishdisahdiasuhdiaondouindaishdisahdiasuhdiaondouindaishdisahdiasuhdiaondouin</p>
</div>
<div class="container">
  <h3>daihsdiuashdoiuahda</h3>
  <p
  >daishdisahdiasuhdiaondouindaishdisahdiasuhdiaondouindaishdisahdiasuhdiaondouindaishdisahdiasuhdiaondouindaishdisahdiasuhdiaondouin</p>
</div>
<div class="container">
  <h3>daihsdiuashdoiuahda</h3>
  <p
  >daishdisahdiasuhdiaondouindaishdisahdiasuhdiaondouindaishdisahdiasuhdiaondouindaishdisahdiasuhdiaondouindaishdisahdiasuhdiaondouin</p>
</div>

<div>
  <a href="/"><button class="btn btn-success mt-4">Voltar para a página inicial</button></a>
  <br />
  <br />
</div>