{{#each errors}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}
<h3>Novo curso</h3>
<div class="card">
  <div class="card-body">
    <form action="/admin/courses/new" method="POST">
      <label for="name">Nome do curso: </label>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="course name"
        class="form-control"
        required
      />
      <label for="slug">Slug: </label>
      <input
        type="text"
        name="slug"
        id="slug"
        placeholder="course slug"
        class="form-control"
        required
      />
      <label for="description">Descricão: </label>
      <input
        type="text"
        name="description"
        id="description"
        placeholder="course description"
        class="form-control"
        required
      />
      <br />
      <button type="submit" class="btn btn-success">Adicionar curso</button>
    </form>
  </div>
</div>