<div class="card">
  <div class="card-body">
    <h1>{{course.name}}</h1>
    <hr />
    {{course.content}}
  </div>
</div>

<div>
  <a href="/"><button class="btn btn-success mt-4">Voltar para a página inicial</button></a>
  <br />
  <br />
</div>