{{!-- <div class="modal hidden">
  <button class="btn--close-modal">&times;</button>
  <h2 class="modal__header">
    Você tem certeza que deseja excluir a categoria?
  </h2>

  <button class="btn btn--close-modal">Fechar &rarr;</button>
  <form action="/admin/categories/delete" method="POST">
    <input type="hidden" name="id" value="{{_id}}" />
    <button
      type="submit"
      class="btn btn-danger mt-2 btn--show-moda btn btn--delete"
    >Excluir categoria &rarr;</button>
  </form>

</div>
<div class="overlay hidden"></div>

<h3>oi</h3>
<div class="modal">
  <button class="btn--close-modal">&times;</button>
  <h2 class="modal__header">
    Você tem certeza que deseja excluir a categoria?
  </h2>

  <a href="/admin/categories"><button
      class="btn btn-danger mt-2"
    >Fechar</button></a>
  <form action="/admin/categories/delete-category" method="POST">
    <input type="hidden" name="id" value="{{_id}}" />
    <button
      type="submit"
      class="btn btn-danger mt-2 btn--show-moda btn btn--delete"
    >Excluir categoria &rarr;</button>
  </form>

</div>
<div class="overlay"></div> --}}