<h2>Inscritos: </h2>
<hr />

{{#each students}}
  <div class="card mt-4">
    <div class="card-body">

      <p>Nome: {{name}}</p>
      <small>Email: {{email}}</small><br />
      <small>Curso: {{course}}</small><br />
    </div>
  </div>
{{else}}
  <p>Não há inscritos ainda.</p>
{{/each}}