

<div class="nav">
        
        {{!-- <img class= "toda--img--top" src="img/logoprincipal.png" alt="toda-cidada-logo"> --}}

        <ul class="nav__links">
          <li class="nav__logo" id="logo">
             <a class="nav__link" href="/#paginainicial">
              <img
                src="img/logoprincipal.png"
                type="image/pnj"
                alt="TodaCidada-logo"
                class="nav__logo"
                id="logo"
                data-version-number=""
              />
             </a>
          </li>
          <li class="nav__item">
            {{!-- <a class="nav__link" href="#section--2">quem somos</a> --}}
            <a class="nav__link" href="/#quemsomos">Quem somos</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/#nossoscursos">Nossos cursos</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/#contato">Contato</a>
          </li>
    
        </ul>
        
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          
      
      </div>

      <div class="overlay hidden"></div>
