

<nav class="nav">
        {{! <img
          src="logoprincipaltagline.png"
          type="image/pnj"
          alt="TodaCidada logo"
          class="nav__logo"
          id="logo"
          data-version-number=""
        /> }}

        <ul class="nav__links">
          <li class="nav__logo" id="logo">
            <a class="nav__link" href="/">toda <br /> cidadã</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#section--2">quem somos</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#section--3">nossos cursos</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#section--4">contato</a>
          </li>
          {{! <li class="nav__item">
            <!-- HAVE TO GO TO THE LINK -->
            <a class="nav__link" href="#section--3">Prices</a>
          </li> }}
          {{!-- <li class="nav__item">
            <a
              class="nav__link nav__link--btn btn--show-modal--login"
              href="#"
            >Login</a>
          </li> --}}
          {{! <li class="nav__item">
            <a
              class="nav__link nav__link--btn btn--show-modal--singup"
              href="#"
            >Sing Up</a>
          </li> }}
        </ul>
        <!-- POR CAUSA DISSO, A NAV BAR TA INDO PRA ESQUERDA: -->
        
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </li>
      
      </nav>

      <div class="overlay hidden"></div>
{{!-- 
      <section class="section" id="section--1">
      <div class="header__title">
        <!-- <h1 onclick="alert('HTML alert')"> -->
        <h1 class="toda">
          <!-- Green highlight effect -->
          <!-- <span class="highlight">Organize</span><br /> -->
          <!-- Organize <br />your life with <br />HaveToDo -->
          <!-- <span class="highlight">HaveToDo</span> -->
          <!-- Green highlight effect -->
          toda
        </h1>
        <h1 class="cidada">
          cidadã
        </h1>

        <h4 class="toda">
          educação política para mulheres e jovens
        </h4>
        <button class="btn--text btn--scroll-to">saiba mais &DownArrow;</button>
        <!-- Image -->
        <!-- <img src="main.jpg" class="header__img" alt="Minimalist bank items" /> -->
      </div>
      
    </section> --}}