<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/png" href="img/icon.png" />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Toda Cidadã</title>

    <script defer src="js/script.js"></script>
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <img
          src=""
          alt="TodaCidada logo"
          class="nav__logo"
          id="logo"
          data-version-number=""
        />
        <ul class="nav__links">
          <li class="nav__item">
            <a class="nav__link" href="#section--1">Quem somos</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#section--2">Nossos cursos</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#section--3">Contato</a>
          </li>
          {{! <li class="nav__item">
            <!-- HAVE TO GO TO THE LINK -->
            <a class="nav__link" href="#section--3">Prices</a>
          </li> }}
          {{! <li class="nav__item">
            <a
              class="nav__link nav__link--btn btn--show-modal--login"
              href="#"
            >Login</a>
          </li> }}
          {{! <li class="nav__item">
            <a
              class="nav__link nav__link--btn btn--show-modal--singup"
              href="#"
            >Sing Up</a>
          </li> }}
        </ul>
        <!-- POR CAUSA DISSO, A NAV BAR TA INDO PRA ESQUERDA: -->
        <ul>
          <li class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </li>
        </ul>
      </nav>

      <div class="header__title">
        <!-- <h1 onclick="alert('HTML alert')"> -->
        <h1>
          <!-- Green highlight effect -->
          <!-- <span class="highlight">Organize</span><br /> -->
          <!-- Organize <br />your life with <br />HaveToDo -->
          <!-- <span class="highlight">HaveToDo</span> -->
          <!-- Green highlight effect -->
          Organize
          <br />your life with
          <br />
          <span style="color: var(--color-primary-darker)">Have</span><span
            style="color: var(--color-secondary)"
          >To</span><span style="color: var(--color-primary)">Do</span>
        </h1>
        <h4>
          Let your mind free from worries. HaveToDo takes care of for you.
        </h4>
        <button class="btn--text btn--scroll-to">Learn more &DownArrow;</button>
        <!-- Image -->
        <!-- <img src="main.jpg" class="header__img" alt="Minimalist bank items" /> -->
      </div>
    </header>

    <section class="section" id="section--1">
      <div class="section__title">
        <h2 class="section__description"><!--Features--></h2>
        <h3 class="section__header">
          Let your mind free from worries that HaveToDo takes care of for you.
        </h3>
        <hr />
      </div>

      <div class="features">
        <img src="" data-src="" alt="Computer" class="features__img lazy-img" />
        <div class="features__feature">
          <div class="features__icon">
            <svg>
              {{! <use xlink:href="img/icons.svg#icon-monitor"></use> }}
            </svg>
          </div>

          <h5 class="features__header">A task manager you trust</h5>

          <p>
            We are committed to organizing your life and earning your trust with
            the best team.
          </p>
        </div>

        <div class="features__feature">
          <div class="features__icon">
            <svg>
              {{! <use xlink:href="img/icons.svg#icon-trending-up"></use> }}
            </svg>
          </div>

          <h5 class="features__header">Find the peace you've always wanted</h5>
          <p>
            Check out the templates of daily organizers and choose the one that
            best suits you.
          </p>
        </div>
        <img
          src=""
          data-src="img/grow.jpg"
          alt="Plant"
          class="features__img lazy-img"
        />

        <img
          src=""
          data-src="img/card.jpg"
          alt="Credit card"
          class="features__img lazy-img"
        />
        <div class="features__feature">
          <div class="features__icon">
            <svg>
              {{! <use xlink:href="img/icons.svg#icon-credit-card"></use> }}
            </svg>
          </div>

          <h5 class="features__header">Best prices</h5>
          <p>
            What is the value of your time? We have different plans that fit in
            your pocket.
          </p>
        </div>
      </div>
    </section>

    <section class="section" id="section--2">
      <div class="section__title">
        <h2 class="section__description"><!--Models--></h2>
        <h3 class="section__header">
          Start a more peaceful life with one of our organizer templates.
        </h3>
        <hr />
        <br />

        <button class="btn--text">
          All the templates
          <!-- Learn more &DownArrow; -->
        </button>
      </div>

      <div class="operations">
        <div class="operations__tab-container">
          <button
            class="btn operations__tab operations__tab--1 operations__tab--active"
            data-tab="1"
          >
            <span>01</span>Daily commitments
          </button>
          <button class="btn operations__tab operations__tab--2" data-tab="2">
            <span>02</span>Learn a new language
          </button>
          <button class="btn operations__tab operations__tab--3" data-tab="3">
            <span>03</span>Write a Book
          </button>
        </div>
        <div
          class="operations__content operations__content--1 operations__content--active"
        >
          <div class="operations__icon operations__icon--1">
            <!-- <svg>
              <use xlink:href="img/icons.svg#icon-upload"></use>
            </svg> -->
            <img class="operations--img" src="" alt="task" />
          </div>
          <h5 class="operations__header">
            Never forget a meeting or appointment again.
          </h5>
          <p>
            Missing an appointment because you forgot is disappointing. With
            this daily appointment template from HaveToDo, you'll never miss out
            on important events again.<br />
            <button class="btn--text">
              Check it out!
              <!-- Learn more &DownArrow; -->
            </button>
          </p>
        </div>

        <div class="operations__content operations__content--2">
          <div class="operations__icon operations__icon--2">
            <!-- <svg>
              <use xlink:href="img/icons.svg#icon-home"></use>
            </svg> -->
            <img class="operations--img" src="" alt="language" />
          </div>
          <h5 class="operations__header">
            Set a goal and a deadline for achieving it. Choose the best method
            and learn a new language.
          </h5>
          <p>
            Discover a new culture and expand your knowledge in a fun way with
            this model from HaveToDo. You will benefit from all the advantages
            of learning a new language by defining the best study method for
            you.
            <br />
            <button class="btn--text">
              Check it out!
              <!-- Learn more &DownArrow; -->
            </button>
          </p>
        </div>
        <div class="operations__content operations__content--3">
          <div class="operations__icon operations__icon--3">
            <!-- <svg>
              <use xlink:href="img/icons.svg#icon-user-x"></use>
            </svg> -->
            <img class="operations--img" src="" alt="book" />
          </div>

          <h5 class="operations__header">
            Get your ideas off paper and start planning your book.
          </h5>
          <p>
            With this model from HaveToDo, you plan your writing in the way that
            best suits you so that you can focus on what matters most:
            fulfilling your dream of writing your book.
            <br />
            <button class="btn--text">
              Check it out!
              <!-- Learn more &DownArrow; -->
            </button>
          </p>
        </div>
      </div>
    </section>

    <section class="section" id="section--3">
      <div class="section__title section__title--testimonials">
        <h2 class="section__description"><!--Not sure yet?--></h2>
        <h3 class="section__header">What they are saying about HaveToDo.</h3>
        <hr />
      </div>

      <div class="slider">
        <div class="slide">
          <div class="testimonial">
            <h5 class="testimonial__header">Best decision</h5>
            <blockquote class="testimonial__text">
              I wouldn't be able to work or even manage my full-time job and be
              a mother and wife if it weren't for HaveToDo.
            </blockquote>
            <address class="testimonial__author">
              <img src="" alt="" class="testimonial__photo" />
              <h6 class="testimonial__name">Sonia Dias</h6>
              <p class="testimonial__location">São Paulo, Brazil</p>
            </address>
          </div>
        </div>

        <div class="slide">
          <div class="testimonial">
            <h5 class="testimonial__header">I changed my life</h5>
            <blockquote class="testimonial__text">
              I never again had to worry about missing my meetings with friends
              and family. With HaveToDo I learned to organize my life. I'm very
              grateful.
            </blockquote>
            <address class="testimonial__author">
              <img src="" alt="" class="testimonial__photo" />
              <h6 class="testimonial__name">Sonito Diasito</h6>
              <p class="testimonial__location">London, UK</p>
            </address>
          </div>
        </div>

        <div class="slide">
          <div class="testimonial">
            <h5 class="testimonial__header">I made my dream come true</h5>
            <blockquote class="testimonial__text">
              I couldn't write my book and blamed the lack of time. With
              HaveToDo I discovered how to prioritize and in less than six
              months I finished my first book.
            </blockquote>
            <address class="testimonial__author">
              <img src="" alt="" class="testimonial__photo" />
              <h6 class="testimonial__name">Sonio Dios</h6>
              <p class="testimonial__location">Madrid, Spain</p>
            </address>
          </div>
        </div>

        <button class="slider__btn slider__btn--left">&larr;</button>
        <button class="slider__btn slider__btn--right">&rarr;</button>
        <div class="dots"></div>
      </div>
    </section>

    <section class="section section--sign-up">
      <div class="section__title">
        <h3 class="section__header">
          Don't waste any more time and organize your work and personal life
          with HaveToDo.
        </h3>
      </div>
      <!-- ITS NOT WORKING!! QUERY SELECTOR?? -->
      <button class="btn btn--show-modal">Sing Up</button>
    </section>

    <footer class="footer">
      <ul class="footer__nav">
        <li class="footer__item">
          <a class="footer__link" href="#">About us</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Templates</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Terms of Use</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Privacy Policy</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Prices</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Share with a friend</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Contact Us</a>
        </li>
      </ul>
      <img src="" alt="Logo" class="footer__logo" />
      <!-- <p class="footer__copyright">
        &copy; Copyright by
        <a
          class="footer__link twitter-link"
          target="_blank"
          href="https://twitter.com/jonasschmedtman"
          >Mylena Vendramini</a
        >.
      </p> -->
      <p class="footer__copyright">
        <!-- Keep in touch: -->
        <a class="footer__link twitter-link" target="_blank" href="#">Instagram
          | Facebook | Twitter</a>
      </p>
    </footer>

    <div class="modal--singup hidden">
      <button class="btn--close-modal">&times;</button>
      <h2 class="modal__header">
        <span class="highlight">Sing Up</span>
      </h2>
      <form class="modal__form">
        <label>First Name</label>
        <input type="text" />
        <label>Last Name</label>
        <input type="text" />
        <label>Email Address</label>
        <input type="email" />
        <button class="btn">Next step &rarr;</button>
        <button
          style="color: var(--color-primary)"
          class="btn btn--change--modal btn--SignUpToChange"
        >
          <p style="color: #222">Already signed up?</p>
          Go to login
        </button>
      </form>
    </div>
    <div class="overlay hidden"></div>

    <div class="modal--login hidden log-in">
      <button class="btn--close-modal">&times;</button>
      <h2 class="modal__header">
        <span class="highlight">Log in</span>
      </h2>
      <form class="modal__form">
        <label>First Name</label>
        <input type="text" />
        <label>Last Name</label>
        <input type="text" />
        <label>Email Address</label>
        <input type="email" />
        <label>Password</label>
        <input type="password" />
        <button class="btn">Next step &rarr;</button>
        <button
          style="color: var(--color-primary)"
          class="btn btn--change--modal btn--loginToChange"
        >
          <p style="color: #222">Don't have an account?</p>
          Sing Up
        </button>
      </form>
    </div>
    <div class="overlay hidden"></div>

    <!-- <script src="script.js"></script> -->
  </body>
</html>