{{! <section class="section" id="section--1">
  <div class="header__title">
    <!-- <h1 onclick="alert('HTML alert')"> -->
    <h1 class="toda">
      <!-- Green highlight effect -->
      <!-- <span class="highlight">Organize</span><br /> -->
      <!-- Organize <br />your life with <br />HaveToDo -->
      <!-- <span class="highlight">HaveToDo</span> -->
      <!-- Green highlight effect -->
      toda
    </h1>
    <h1 class="cidada">
      cidadã
    </h1>

    <h4 class="toda">
      educação política para mulheres e jovens
    </h4>
    <button class="btn--text btn--scroll-to">saiba mais &DownArrow;</button>
    <!-- Image -->
    <!-- <img src="main.jpg" class="header__img" alt="Minimalist bank items" /> -->
  </div>

</section> }}

<section class="section" id="section--2">
  <div class="header__title">
    <img
      class="advocacia-curso"
      type="image/pnj"
      src="img/advocacia.png"
      alt="toda-cidada-logo"
    />
  </div>
  <div class="course">
    <a href="/"><button type="submit" class="btn--text">Voltar</button></a>
    <div class="course__feature">
      {{!-- <h5 class="course__header">{{course.name}}</h5>  --}}
      <h5 class="course__header">Um curso para quem quer impactar positivamente
        o ordenamento jurídico brasileiro</h5>
    </div>
    <div class="">
      <p>
        O curso "Por Uma Advocacia Feminista", elaborado por Camila Ricci,
        coordenadora do Curso de Direito, e ministrado por profissionais da área
        com experiência prática advocatícia, visa tornar a prática do direito
        mais próxima às demandas de justiça de gênero, ao mesmo tempo em que
        propõe um olhar crítico ao ordenamento jurídico brasileiro na
        perspectiva feminista, apresentando soluções e caminhos práticos para
        operadores do Direito que busquem atuar em suas respectivas áreas para a
        construção de um mundo mais igualitário.
      </p>
    </div>
    <div class="course">
      <div class="">
        <p>
          A Toda Cidadã foi criada com o objetivo de democratizar por meio da
          troca a educação política para mulheres e jovens. Vivemos um período
          político no Brasil, no qual se faz necessário a disseminação de
          conhecimento, principalmente dos direitos dos cidadãos.
        </p>
      </div>
      <div class="course__feature">
        <h5 class="course__header">ESSE CURSO É PARA VOCÊ SE: 
        <br />
        <br>
        - você se incomoda com as desigualdades de gênero no ambiente jurídico;
        <br />
        - você gostaria de entender mais sobre como ter uma atuação feminista
        dentro do Direito;
        <br />
        - você gostaria de respaldar o conhecimento para que suas teses
        jurídicas tenham um olhar para as questões de gênero;
        <br />
        - você quer entender quais ferramentas o Direito usa para oprimir
        mulheres;
        <br />
        - você quer entender como superar essas ferramentas dentro da atuação da
        advocacia, nas áreas de Penal e Processo Penal, Família, Infância e
        Juventude e Trabalho.
      </div>
      <div class="">
        <p>
          Buscamos expandir o acesso a educação política para as pessoas que
          estão excluídas socialmente. Desta forma, nossa missão é garantir
          mulheres e jovens tenham um espaço onde possam trocar conhecimentos e
          vivências de forma a facilitar a organização política e econômica como
          meio de garantia de acesso aos seus direitos
        </p>
      </div>
    </div>
    <div class="">
      <p>
        O curso, além do módulo introdutório, trazendo uma visão geral da
        perspectiva feminista sobre o Direito, abordará em módulos específicos
        as áreas de Direito Penal e Processual Penal, Direito de Família,
        Direito da Infância e Juventude e Direito do Trabalho, todos sob a
        perspectiva de gênero.
      </p>
    </div>
    <div class="">
      <p>
        A contratação do curso pode ser em formato integral - com todos os
        módulos - ou considerando somente sua área de especialização, adquirindo
        o módulo introdutório + o de sua área específica.
      </p>
      <div class="course__feature">
        {{!-- <h5 class="course__header">{{course.name}}</h5> --}}
        {{!-- <h5 class="course__header"><button class="btn--text--subscribe">
            Inscreva-se já
            <!-- Learn more &DownArrow; -->
          </button></h5> --}}
          <h5 class="course__header"><a class="btn--text--subscribe" target="_blank" href="https://www.even3.com.br/todacidada/">Inscreva-se já</a></h5>
          

      </div>
    </div>
    {{! <a href="/"><button type="submit" class="btn--text">Voltar</button></a> }}
  </div>
</section>