<section class="section" id="section--4">
  <div class="section__line">
    <h3 class="section__header">
      {{! Escrever algo. }}
      {{! <div class="line__horizontal line__horizontal--2"></div> }}
    </h3>
  </div>

  <div class="messages__container">
    <div class="messages__content">
      <p>Copie e cole o cupom abaixo ao efetuar o pagamento e ganhe 10% de
        desconto.</p>
      <h5>TODACIDADA10</h5>
      <p>Cupom válido até 10 de abril de 2022</p>
    </div>
  </div>
  <div class="course">
    <div class="course__feature course__feature--subscribe">

      <h5 class="course__header"><a
          class="btn--text--subscribe"
          target="_blank"
          href="https://pay.hotmart.com/Q68651321L"
        >Inscreva-se agora</a></h5>
    </div>
  </div>
  <div class="">
    <div class="messages__content">
      <h5><a
          class="btn--text"
          target="_blank"
          href="/cursos-advocaciafeminista"
        >Voltar</a></h5>
    </div>
  </div>
</section>