
  <section class="section" id="paginainicial">
      <div class="header__title">
        <img class= "toda--img--top" type="image/pnj" src="img/logoprincipaltagline.png" alt="toda-cidada-logo"> 
      </div>     
  </section>
   
    
  <section class="section" id="quemsomos">
      <div class="section__line">
        <h3 class="section__header">
          {{! Escrever algo }}
           {{!-- <div class="line__horizontal line__horizontal--1"></div>  --}}
        </h3>
      </div>
      <div class="description">
        <div class="">
          <p>
            A Toda Cidadã foi criada com o objetivo de democratizar por meio da troca a
            educação política para mulheres e jovens. Vivemos um período político
            no Brasil, no qual se faz necessário a disseminação de conhecimento,
            principalmente dos direitos dos cidadãos.
          </p>
        </div>  
        <div class="description__feature">
            <h5 class="description__header">NOSSO <b>PROPÓSITO</b></h5>
        </div>
        <div class="description__feature">
            <h5 class="description__header">NOSSOS <b>VALORES</b>
              <br />
              <br />
            
              RESPEITO | TRANSFORMAÇÃO CONEXÃO | PLURAL | HUMANO
              <br> <br> 
            </h5>
        </div>
        <div class="">
            <p>
              Buscamos expandir o acesso a educação política para as pessoas
              que estão excluídas socialmente. Desta forma, nossa missão é garantir
              mulheres e jovens tenham um espaço onde possam trocar conhecimentos e
              vivências de forma a facilitar a organização política e econômica como
              meio de garantia de acesso aos seus direitos.
            </p>
        </div>
      </div>
      <div class="mobile">
        <div class="mobile__feature">
            <h5 class="mobile__header">NOSSO <b>PROPÓSITO</b></h5>
        </div>
        <div class="">
          <p>
            A Toda Cidadã foi criada com o objetivo de democratizar por meio da troca a
            educação política para mulheres e jovens. Vivemos um período político
            no Brasil, no qual se faz necessário a disseminação de conhecimento,
            principalmente dos direitos dos cidadãos.
          </p>
        </div>  
        <div class="mobile__feature">
            <h5 class="mobile__header">NOSSOS <b>VALORES</b>
              <br />
              <br />
              <br />
              RESPEITO | TRANSFORMAÇÃO CONEXÃO | PLURAL | HUMANO
            </h5>
        </div>
        <div class="">
            <p>
              Buscamos expandir o acesso a educação política para as pessoas
              que estão excluídas socialmente. Desta forma, nossa missão é garantir
              mulheres e jovens tenham um espaço onde possam trocar conhecimentos e
              vivências de forma a facilitar a organização política e econômica como
              meio de garantia de acesso aos seus direitos.
            </p>
        </div>
      </div>
  </section>

  <section class="section" id="nossoscursos">
      <div class="section__line">
        <h3 class="section__header">
          {{! Escrever algo. }}
           {{!-- <div class="line__horizontal line__horizontal--2"></div> --}}
        </h3>

        {{!-- <button class="btn--text">
          {{!-- Todos os cursos --}}
         Learn more &DownArrow; 
        </button> --}}
      </div>

      <div class="operations operations--green">
        <div class="operations__tab-container">
          {{!-- <button
            class="btn operations__tab operations__tab--1 operations__tab--active"
            data-tab="1"
          >
            CURSOS
          </button> --}}
          <a href="/cursos-cargamental"><button
                  type="submit"
                  class="btn operations__tab operations__tab--1 operations__tab--active"
                  data-tab="1"
                >CURSO</button></a>
          {{! <button class="btn operations__tab operations__tab--2" data-tab="2">
            <span>02</span>Curso
          </button>
          <button class="btn operations__tab operations__tab--3" data-tab="3">
            <span>03</span>Curso
          </button> }}
        </div>
        <div
          class="operations__content operations__content--1 operations__content--active"
        >
        {{!-- <img type="image/pnj" src="img/simbolo.png" class="operations--img" alt="Curso foto" /> --}}
         
          <h5 class="operations__header">
            Sobrecarga Feminina no Contexto Doméstico
          </h5>
          <br>
          <p>
            Você já percebeu que nós, mulheres, andamos muito cansadas? Estamos
          pedindo socorro de tão exaustas! E muitas vezes esse cansaço vem a
          partir das sobrecargas que recebemos pelo fato de ser mulher.
          </p>  
            <br>
          <p>  
          E quando falamos do contexto doméstico, existem atividades invisíveis
          que podem estar sobrecarregando as mulheres ainda mais e que tem
          relação com essa estrutura social onde estamos inseridas. Mesmo
          naquele contexto doméstico onde dividimos as atividades da casa de
          maneira igualitária, existem sobrecargas invisíveis. Assim, o
          desempenho dessas tarefas contribui para o sentimento de sobrecarga
          das mulheres e sentimentos associados. Reconhecendo esse cenário,
          criamos essa imersão como espaço para expor, debater e identificar
          estruturas sociais que influenciam o processo de sobrecarga feminina e
          que impactam a nossa saúde mental, principalmente nesse contexto
          doméstico.
          </p>
            <br>
          <p>
            A “Imersão: Sobrecarga Feminina no Contexto Doméstico” terá conteúdos
          reflexívos através de aulas gravadas, atividades interativas, rodas
          interativas, conteúdos bônus e principalmente uma comunidade de
          mulheres incríveis!
            <br />
            <br />
            {{!-- <button class="btn--text">
              Inscreva-se
            </button> --}}
            <a href="/cursos-cargamental"><button
                  type="submit"
                  class="btn--text"
                  data-tab="1"
                >Saiba mais</button></a>
          </p>
        </div>
      </div>
        {{!-- <div
          class="operations__content operations__content--2"
        >
        <img class="operations--img" src="" alt="task" />
         
          <h5 class="operations__header">
            Curso de ...........
          </h5>
          <p>
            O curso trata de ... curso trata de ... curso trata de ... curso
            trata de ... curso trata de ... curso trata de ... curso trata de
            ...... curso trata de ... curso trata de ...
            <br />
            <br />
            <button class="btn--text">
              inscreva-se já
            </button>
          </p>
        </div>
        </div> --}}

  </section>

  <section class="section" id="contato">
      <div class="section__line">
        <h3 class="section__header">
          {{! Escrever algo. }}
          {{!-- <div class="line__horizontal line__horizontal--3"></div>  --}}
        </h3>
      </div> 

      <div class="form__card form__card--blue ">
        <h5>Fale com a gente</h5>
          <div class="form__container">
            <form action="" method="POST">
              <label for="name">Nome: </label>
              <input type="text" name="name" class="form__form" required />
              <label for="email">Email: </label>
              <input type="email" name="email" class="form__form" required />
              <label for="message" class="form__form">Mensagem: </label>
              <textarea
                class="form__form"
                id="message"
                rows="4"
                name="message"
              ></textarea>
              <br>
              <a href=""><button
                  type="submit"
                  class="btn--text"
                >Enviar</button></a>
            </form>
          </div>
      </div>
  </section> 


  {{!-- <section class="section" > --}}
    <footer class="footer">
      <div class="header__title">
        <a class="nav__link" href="/#section--1">
              <img class="toda--img--footer" type="image/pnj" src="img/logosecundaria.png" alt="">
             </a>
      </div>
        <!-- Keep in touch: -->
      <p class="footer__copyright">
        <a class="footer__link twitter-link" target="_blank" href="https://www.linkedin.com/company/toda-cidad%C3%A3/mycompany/">Linkedin |</a>
        <a class="footer__link twitter-link" target="_blank" href="https://www.facebook.com/todacidada">Facebook |</a>
        <a class="footer__link twitter-link" target="_blank" href="https://www.instagram.com/todacidada/">Instagram |</a>
        <a class="footer__link twitter-link" target="_blank" href="https://twitter.com/todacidada">Twitter |</a>
        <a class="footer__link twitter-link" target="_blank" href="https://youtube.com/channel/UCKfIdNKgdFBk4V4AYHtgLew">YouTube</a>
      </p>
    </footer>
  {{!-- </section> --}}
    

    <!-- <script src="script.js"></script> -->

    