<section class="section" id="section--5">
  <div class="section__line">
    <h3 class="section__header">
      {{! Escrever algo. }}
      {{! <div class="line__horizontal line__horizontal--3"></div>  }}
    </h3>
  </div>

  <div class="form__card">
    <h5>Fazer login </h5>
    <div class="form__container">
      <form action="/login" method="POST">
        <label for="email">Email: </label>
        <input type="email" name="email" class="form__form login" required />
        <label for="password">Senha: </label>
        <input
          type="password"
          name="password"
          class="form__form login"
          required
        />
        <br />
        <a href=""><button type="submit" class="btn--text">Entrar</button></a>
      </form>
    </div>
  </div>
</section>