<section class="section" id="paginainicial">
  <div class="header__title">
    <img
      class="toda--img--top"
      type="image/pnj"
      src="img/logoprincipaltagline.png"
      alt="toda-cidada-logo"
    />
  </div>
</section>

<section class="section" id="quemsomos">
  <div class="description-test">
    <div class="description__feature-test">
      <h5>NOSSO PROPÓSITO</h5>
      <p>
        A Toda Cidadã foi criada com o objetivo de democratizar por meio da
        troca a educação política para mulheres e jovens. Vivemos um período
        político no Brasil, no qual se faz necessário a disseminação de
        conhecimento, principalmente dos direitos dos cidadãos.
      </p>
    </div>
    <div class="description__feature-test">
      <h5>NOSSOS VALORES
      </h5>
      <p>Buscamos expandir o acesso a educação política para as pessoas que
        estão excluídas socialmente. Desta forma, nossa missão é garantir
        mulheres e jovens tenham um espaço onde possam trocar conhecimentos e
        vivências de forma a facilitar a organização política e econômica como
        meio de garantia de acesso aos seus direitos.</p>
      <h4>
        RESPEITO | TRANSFORMAÇÃO | CONEXÃO | PLURAL | HUMANO
      </h4>
    </div>
  </div>

  <div class="description-test-mobile">
    <div class="description__feature-test">
      <h5>NOSSO PROPÓSITO</h5>
      <p>
        A Toda Cidadã foi criada com o objetivo de democratizar por meio da
        troca a educação política para mulheres e jovens. Vivemos um período
        político no Brasil, no qual se faz necessário a disseminação de
        conhecimento, principalmente dos direitos dos cidadãos.
      </p>
    </div>
    <div class="description__feature-test">
      <h5>NOSSOS VALORES</h5>
      <p>Buscamos expandir o acesso a educação política para as pessoas que
        estão excluídas socialmente. Desta forma, nossa missão é garantir
        mulheres e jovens tenham um espaço onde possam trocar conhecimentos e
        vivências de forma a facilitar a organização política e econômica como
        meio de garantia de acesso aos seus direitos.</p>
      <h4>
        RESPEITO | TRANSFORMAÇÃO | CONEXÃO | PLURAL | HUMANO
      </h4>
    </div>
  </div>
</section>

{{! <section class="section" id="quemsomos">
  <div class="description__img-container">
    <img
      class="description__img"
      type="image/pnj"
      src="img/mulheres-luta.png"
      alt="women"
    />
  </div>
</section> }}

<section class="section" id="contato">
  <div class="form__card--test">
    <div class="description-test form__title-test">
      <h5>FALE COM A GENTE</h5>
    </div>
    <div class="form__container-test">
      <form action="" method="POST">
        <label for="name">Nome: </label>
        <input type="text" name="name" class="form__form-test" required />
        <label for="email">Email: </label>
        <input type="email" name="email" class="form__form-test" required />
        <label for="message" class="form__form-test">Mensagem: </label>
        <textarea
          class="form__form-test"
          id="message"
          rows="4"
          name="message"
        ></textarea>
        <br />
        <a href=""><button
            type="submit"
            class="btn btn-test"
          >Enviar</button></a>
      </form>
    </div>
  </div>

  <div class="form__card--test-mobile">
    <div class="description-test-mobile form__title-test">
      <h5>FALE COM A GENTE</h5>
    </div>
    <div class="form__container-test">
      <form action="" method="POST">
        <label for="name">Nome: </label>
        <input type="text" name="name" class="form__form-test" required />
        <label for="email">Email: </label>
        <input type="email" name="email" class="form__form-test" required />
        <label for="message" class="form__form-test">Mensagem: </label>
        <textarea
          class="form__form-test"
          id="message"
          rows="4"
          name="message"
        ></textarea>
        <br />
        <a href=""><button
            type="submit"
            class="btn btn-test"
          >Enviar</button></a>
      </form>
      <br />
    </div>
  </div>
</section>

{{! <section class="section" > }}
<footer class="footer-test">
  <div class="footer__logo">
    <a class="nav__link" href="/#section--1">
      <img
        class="toda--img--footer"
        type="image/pnj"
        src="img/logosecundaria.png"
        alt=""
      />
    </a>
  </div>
  <!-- Keep in touch: -->
  <p class="footer__copyright">
    <a
      class="footer__link twitter-link"
      target="_blank"
      href="https://www.linkedin.com/company/toda-cidad%C3%A3/mycompany/"
    >Linkedin |</a>
    <a
      class="footer__link twitter-link"
      target="_blank"
      href="https://www.facebook.com/todacidada"
    >Facebook |</a>
    <a
      class="footer__link twitter-link"
      target="_blank"
      href="https://www.instagram.com/todacidada/"
    >Instagram |</a>
    <a
      class="footer__link twitter-link"
      target="_blank"
      href="https://twitter.com/todacidada"
    >Twitter |</a>
    <a
      class="footer__link twitter-link"
      target="_blank"
      href="https://youtube.com/channel/UCKfIdNKgdFBk4V4AYHtgLew"
    >YouTube</a>
  </p>
</footer>
{{! </section> }}

<!-- <script src="script.js"></script> -->