:root {
  --color-primary: #e85d77;
  --color-primary-darker: #d83c23;
  --color-primary-lighter: #fcb7b7;
  --color-primary-lighter-rgba: rgba(252, 183, 183, 0.911);
  --color-secondary: #55abe4;
  --color-secondary-darker: #0f3a6d;
  --color-secondary-lighter: #b4e6fc;
  --color-tertiary: #a366a3;
  --color-tertiary-darker: #7a387a;
  --color-tertiary-lighter: #d9b1d6;
  --color-quaternary: #7a8b55;
  --color-quaternary-darker: #535d38;
  --color-quaternary-lighter: #d7e4b6;
  /* --gradient-primary: linear-gradient(to top left, #ac9baa, #651e5c);
  --gradient-secondary: linear-gradient(to top left, #a09aa9, #3c2464); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #fff;
  line-height: 1.9;
  background-color: #f3f3f3;
}

/* GENERAL ELEMENTS */
.section {
  padding: 3rem 3rem;
  /* border-top: 1px solid #ddd; */
  transition: transform 1s, opacity 1s;
  margin: 0rem auto;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

.section__line {
  margin: auto auto 5rem auto;
}

.section__description {
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

.container {
  max-width: 100rem;
  margin: 12rem auto 0 auto;
  padding: 2.5rem 7rem 6.5rem 7rem;
  /* margin: auto 19rem; */
  /* background-color: var(--color-secondary-darker); */
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: var(--color-primary-darker);
  line-height: 1.9;
  background-color: #f3f3f3;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  /* border-radius: 0.25rem; */
}

.alert--danger {
  color: white;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

/* .alert--danger hr {
  border-top-color: #f1b0b7;
} */

.alert--danger .alert-link {
  color: var(--color-primary-darker);
}

.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--color-primary-darker);
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

/* This is BAD for accessibility! Don't do in the real world! */
button:focus {
  outline: none;
}

img {
  transition: filter 0.5s;
}

.lazy-img {
  filter: blur(20px);
}

/* NAVIGATION */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  width: 105%;
  padding: 0 6rem;
  z-index: 100;
  background-color: var(--color-primary-lighter);
  color: var(--color-primary-darker);
}

/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  top: 0;
  /* background-color: rgba(255, 255, 255, 0.949); */
  /* background-color: #f3f3f3; */
  background-color: var(--color-primary-lighter-rgba);
}

.nav__logo {
  margin-bottom: 0.5rem;
  height: 3.5rem;
  transition: all 0.3s;
  text-align: right;
  line-height: 1;
  font-family: "Outfit", sans-serif;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: var(--color-primary-darker);
  color: #333;
}

/* ----------NEW */
.hamburger {
  /* margin-left: 4rem; */
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media only screen and (max-width: 968px) {
  .nav {
    justify-content: space-between;
    z-index: 1000;
  }
  .nav.sticky {
    position: fixed;
    /* I changed: */
    background-color: var(--color-primary-lighter-rgba);
  }

  .nav__links {
    /* display: none; */
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: var(--color-primary-lighter);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav__links.active {
    left: 0;
  }

  .nav__item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    /* margin: 2.5rem 0;
    align-items: center;
    list-style: none;
    padding: 0.8rem 2.5rem; */
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* ----------NEW */

/* HEADER */
/* .header {
  padding: 0 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.header__title {
  flex: 1;
  /* max-width: 115rem; */
  display: flex;
  /* grid-template-columns: 3fr 2fr; */
  /* row-gap: 1rem; */
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin: 10rem auto 0rem auto;
  padding: 6rem;
}

h1 {
  font-size: 10rem;
  line-height: 1;
  font-family: "Outfit", sans-serif;
}

h3 {
  font-size: 2rem;
  /* font-weight: 200; */
}

h4 {
  font-size: 2rem;
  /* font-weight: 200; */
  font-family: "Outfit", sans-serif;
}

h5 {
  font-size: 2rem;
}

.toda {
  color: var(--color-primary-darker);
}

.cidada {
  color: var(--color-primary);
}

.header__img {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / span 4;
  transform: translateY(-6rem);
  /* min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0; */
}

.toda--img--top {
  width: 50%;
  grid-column: 2 / 3;
  grid-row: 1 / span 4;
  transform: translateY(-6rem);
  margin-top: 8rem;
}

/* DESCRIPTION */

.line__horizontal {
  width: 100%;
  margin: 0rem;
  padding: 0;
}

.line__horizontal--1 {
  border-bottom: 8px solid var(--color-primary-darker);
}

.line__horizontal--2 {
  border-bottom: 8px solid var(--color-tertiary-darker);
}

.line__horizontal--3 {
  border-bottom: 8px solid var(--color-secondary-darker);
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 3em; */
  column-gap: 3rem;
  row-gap: 20rem;
  margin: auto 6rem;
  padding: 2rem;
}

@media only screen and (max-width: 968px) {
  .description {
    grid-template-columns: auto auto;
    gap: 2rem;
  }
}

.description__img {
  width: 100%;
}

.description__feature {
  /* align-self: center; */
  justify-self: center;
  width: 100%;
  height: auto;
  background-color: var(--color-primary-darker);
}

.description p {
  align-self: center;
  justify-self: center;
  width: 100%;
  text-align: justify;
  font-size: 2rem;
  font-family: "Lato";
  color: var(--color-primary-darker);
  padding: 3rem;
}

.description h5 {
  font-size: 2rem;
  color: white;
  font-family: "Lato";
  padding: 2.5rem 7rem 6.5rem 7rem;
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 7rem;
}

.description__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

hr {
  border: 2px solid var(--color-primary-lighter);
  /* width: 37.5rem; */
  width: 100%;
  margin-top: 2rem;
}

.description__icon svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--color-primary);
}

.description__header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* OPERATIONS */
.operations {
  max-width: 100rem;
  margin: auto;
  /* margin: auto 6rem; */
  /* padding: 3rem; */
  background-color: var(--color-tertiary);
}

.operations button {
  color: white;
}

.operations__tab-container {
  display: flex;
  justify-content: center;
}

.operations__tab {
  margin-right: 2.5rem;
  transform: translateY(-50%);
}

.operations__tab span {
  margin-right: 1rem;
  font-weight: 600;
  display: inline-block;
}

.operations__tab--1 {
  background-color: var(--color-tertiary-darker);
}

.operations__tab--1:hover {
  background-color: var(--color-tertiary-lighter);
}

.operations__tab--3 {
  background-color: var(--color-tertiary);
  margin: 0;
}

.operations__tab--3:hover {
  background-color: var(--color-tertiary-darker);
}

.operations__tab--active {
  transform: translateY(-66%);
}

.operations__content {
  display: none;

  /* JUST PRESENTATIONAL */
  font-size: 1.7rem;
  padding: 2.5rem 7rem 6.5rem 7rem;
}

.operations__content--active {
  display: grid;
  grid-column: 1;
  /* grid-template-columns: 7rem 1fr ; */
  column-gap: 3rem;
  row-gap: 0.5rem;
}

/* NEW!!!!!!!!!!!!!! */
.operations--img {
  width: 20%;
  height: auto;
  justify-self: center;
}

.operations__header {
  font-size: 2.25rem;
  font-weight: 500;
  align-self: center;
  color: white;
}

.operations__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.operations__icon svg {
  height: 2.75rem;
  width: 2.75rem;
}

.operations__content p {
  grid-column: 2;
}

.operations__icon--1 {
  /* background-color: var(--color-secondary-opacity); */
  background-color: #fff;
}
.operations__icon--2 {
  /* background-color: var(--color-primary-opacity); */
  background-color: #fff;
}
.operations__icon--3 {
  /* background-color: var(--color-tertiary-opacity); */
  background-color: #fff;
}
.operations__icon--1 svg {
  fill: var(--color-secondary-darker);
}
.operations__icon--2 svg {
  fill: var(--color-primary);
}
.operations__icon--3 svg {
  fill: var(--color-tertiary);
}

/* FORM */

.form__card {
  max-width: 100rem;
  margin: 6rem auto 6rem auto;
  padding: 3rem 7rem 3rem 7rem;
  /* margin: auto 6rem; */
  /* padding: 3rem; */
  background-color: var(--color-secondary-darker);
}

.form__card h5 {
  display: flex;
  justify-content: center;
  font-size: 2.25rem;
  font-weight: 500;
  align-self: center;
  color: white;
}

.form__card button {
  color: white;
}

.form__container {
  display: flex;
  justify-content: left;
  font-size: 1.7rem;
  /* margin-bottom: 4.5rem; */
  /* line-height: 1.5; */
}

.form__form {
  /* margin: 0 3rem; */
  display: block;
  /* grid-template-columns: 1fr 2fr; */
  align-items: center;
  /* gap: 2.5rem; */
  width: 60rem;
  font-size: 1.5rem;
}

@media only screen and (max-width: 968px) {
  .form__form {
    width: 30rem;
  }
}

.login {
  width: 40rem;
}

.form__form input {
  font-size: 1.7rem;
  padding: 2rem 2rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

/* MESSAGES */

.messages__container {
  max-width: 100rem;
  margin: 12rem auto 0 auto;
  background-color: var(--color-tertiary);
}

.messages__content {
  font-size: 1.7rem;
  padding: 2.5rem 7rem 6.5rem 7rem;
}

/* SLIDER */
.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #fff;
  /* background-color: #888; */
  opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
  width: 65%;
  position: relative;
}

.testimonial::before {
  /* quotes */
  /* content: '\201C'; */
  position: absolute;
  top: -5.7rem;
  left: -6.8rem;
  line-height: 1;
  font-size: 20rem;
  font-family: inherit;
  color: var(--color-primary);
  z-index: -1;
}

.testimonial__header {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.testimonial__text {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  color: #666;
}

.testimonial__author {
  margin-left: 3rem;
  font-style: normal;
  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 40rem;
}

.testimonial__photo {
  grid-row: 1 / span 2;
  width: 9rem;
  border-radius: 50%;
}

.testimonial__name {
  font-size: 1.7rem;
  font-weight: 500;
  align-self: end;
  margin: 0;
}

.testimonial__location {
  font-size: 1.5rem;
}

.section__title--testimonials {
  margin-bottom: 4rem;
}

/* SIGNUP */
.section--sign-up {
  background-color: #37383d;
  border-top: none;
  border-bottom: 1px solid #444;
  text-align: center;
  padding: 10rem 3rem;
}

.section--sign-up .section__header {
  color: #fff;
  text-align: center;
}

.section--sign-up .section__title {
  margin-bottom: 6rem;
}

.section--sign-up .btn {
  font-size: 1.9rem;
  padding: 2rem 5rem;
}

/* FOOTER */
.footer {
  padding: 4rem 3rem;
  background-color: var(--color-primary-lighter);
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  width: 105%;
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 1.6rem;
  color: var(--color-primary-darker);
  text-decoration: none;
}

.footer__logo {
  height: 5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.toda--img--footer {
  width: 10%;
  grid-column: 2 / 3;
  grid-row: 1 / span 4;
  transform: translateY(-6rem);
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.footer__copyright {
  font-size: 1.7rem;
  color: #aaa;
  text-align: center;
}

.footer__copyright .footer__link {
  font-size: 1.7rem;
}

/* MODAL WINDOW */
.modal--login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.modal--singup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}

.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2.5rem;
}

.modal__form label {
  font-size: 1.7rem;
  font-weight: 500;
}

.modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.btn--change--modal {
  font-size: 1.4rem;
  background-color: rgba(255, 255, 255, 0.05);
}

.btn--change--modal:hover {
  background-color: rgba(255, 255, 255, 0);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* COOKIE MESSAGE */
.cookie-message {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: #bbb;
  font-size: 1.5rem;
  font-weight: 400;
}
