<div class="card">
  <div class="card-body">
    <h4>Categories: </h4>
    <br />
    {{#each categories}}
      <a href="/categories/{{slug}}"><h5>{{name}}</h5></a>
    {{else}}
    {{/each}}

  </div>
</div>

<div>
  <a href="/"><button class="btn btn-success mt-4">Voltar para a página inicial</button></a>
  <br />
  <br />
</div>