{{#each errors}}
  <div class="alert alert--danger">
    {{text}}
  </div>
{{else}}

{{/each}}
{{! <h4>Fale com a gente! </h4>
<div class="card">
  <div class="card-body">
    <form action="" method="POST">
      <label for="name">Nome: </label>
      <input type="text" name="name" class="form-control" required />
      <label for="email">Email: </label>
      <input type="email" name="email" class="form-control" required />
      <label for="message" class="form-label">Mensagem: </label>
      <textarea
        class="form-control"
        id="message"
        rows="3"
        name="message"
      ></textarea>
      <a href=""><button
          type="submit"
          class="btn btn-success mt-4"
        >Enviar</button></a>
    </form>
  </div>
</div> }}

<section class="section" id="section--4">
  <div class="section__line">
    <h3 class="section__header">
      {{! Escrever algo. }}
      <div class="line__horizontal line__horizontal--3"></div>
    </h3>
  </div>

  <div class="form__card">
    <h5>fale com a gente</h5>
    <div class="form__container">
      <form action="" method="POST">
        <label for="name">nome: </label>
        <input type="text" name="name" class="form__form" required />
        <label for="email">email: </label>
        <input type="email" name="email" class="form__form" required />
        <label for="message" class="form__form">mensagem: </label>
        <textarea
          class="form__form"
          id="message"
          rows="4"
          name="message"
        ></textarea>
        <br />
        <a href=""><button type="submit" class="btn--text">enviar</button></a>
      </form>
    </div>
  </div>
</section>